.nui-wrapper {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.nui-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.nui-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}
.nui-wrapper::-webkit-scrollbar-button {
  display: none;
}


.popup-thing {
  background: #0d0703;
  border-radius: 10px;
  width: 500px;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
}

.table-container {
  height: 100%;
  max-height: 100%; 
  overflow-y: auto; 
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 20px;
}

.image-container {
  width: 150px; 
  height: 100px; 
  overflow: hidden; 
}

.image-container img.error {
  display: none;
}


.image-container img {
  width: 100%;
  height: auto;
}

